<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Relatórios</title>
</head>
<body>

    <div class="container">
        <div class="relatorio">
            <h1>Contas a Pagar</h1>

            <div class="row">
                <div class="col-2 table_head">Data vencimento</div>
                <div class="col-2 table_head">Descrição</div>
                <div class="col-2 table_head">Valor</div>
                <div class="col-2 table_head">Pagamento</div>
                <div class="col-2 table_head">Classificação</div>
                <div class="col-2 table_head">Situação</div>
            </div>

            {% for conta in listaContasPagar %}
            <div class="row contas">
                <div class="col-2 table_data">{{conta.dataVencimento}}</div>
                <div class="col-2 table_data">{{conta.descricao}}</div>
                <div class="col-2 table_data">{{conta.valor}}</div>
                <div class="col-2 table_data">{{conta.formaPagamento}}</div>
                <div class="col-2 table_data">{{conta.classificacao}}</div>
                {% if conta.situacao %}
                <div class="col-2 table_data">PAGO</div>
                {% else %}
                <div class="col-2 table_data">A PAGAR</div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>

        <div class="relatorio">
            <h1>Contas a Receber</h1>

            <div class="row">
                <div class="col-2 table_head">Data expectativa</div>
                <div class="col-2 table_head">Descrição</div>
                <div class="col-2 table_head">Valor</div>
                <div class="col-2 table_head">Pagamento</div>
                <div class="col-2 table_head">Classificação</div>
                <div class="col-2 table_head">Situação</div>
            </div>

            {% for conta in listaContasReceber %}
            <div class="row contas">
                <div class="col-2 table_data">{{conta.dataExpectativa}}</div>
                <div class="col-2 table_data">{{conta.descricao}}</div>
                <div class="col-2 table_data">{{conta.valor}}</div>
                <div class="col-2 table_data">{{conta.formaPagamento}}</div>
                <div class="col-2 table_data">{{conta.classificacao}}</div>
                {% if conta.situacao %}
                <div class="col-2 table_data">RECEBIDO</div>
                {% else %}
                <div class="col-2 table_data">A RECEBER</div>
                {% endif %}
            </div>
            {% endfor %}
            
        </div>
    </div>

	<style>

        .relatorio {
            margin-bottom: 100px;
        }

        h1 {
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
        }

        .table_head {
            font-weight: 700;
            padding-bottom: 20px;
            border-bottom: 2px solid black;
        }

        .table_data {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .contas {
            border-bottom: 1px solid black;
        }

	</style>


    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>